/*.car-show-container {
  width: 100%;
}*/

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
  margin-right: 16.6666666667%;
}

.card-car {
  display:flex;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 30px;
  position: relative;
}

.container-double {
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  padding: 30px;
  position: relative
}

.carte-text {
  width: 50%;
  height: 100%;
  position: relative;
  margin-left: 10px;
}

.carte-img {
  width: 50%;
  height: 100%;
}

.img-in-cart {
  width: 100%;
  height: 100%;
}


.list-sans-dec {
  list-style-type: none;
  padding: 15px;

}

.img-show {
  width: 100%;
  height: 100%;
}

.btn {
  position: absolute;
  right: 25%;
  bottom: 10px;
}

.top-bar-icons {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  text-decoration: none;
}


.carte-img2 {
  width: 25%;
  height: 100%;
}

.carte-text2 {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 10px;
  bottom: 30px;
  font-size: 70%
}

h4 {
  font-size: 100%
}

.dashboardheaders {
  font-size: 100%
}




.form-group {
  position: relative;
  right: 126px;
}

.btn-primary {
  position: relative;
  top: -54px;
  right: -129px;
}

