.myInp {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.myInp:focus {
  width: 60%;
}
